#Inteliji IDEA
.idea
**/.idea
**/**/.idea
**/**/**/.idea

#VS Code
.vscode
**/.vscode
**/**/.vscode
**/**/**/.vscode

#Deploy Linux
deploy.sh

#Node Modules
**/node_modules
**/**/node_modules
**/**/**/node_modules

**/package-lock.json
**/**/package-lock.json
**/**/**/package-lock.json

**/pnpm-lock.yaml
**/**/pnpm-lock.yaml
**/**/**/pnpm-lock.yaml

**/yarn.lock
**/**/yarn.lock
**/**/**/yarn.lock

#Dist Folders
dist
**/dist
**/**/dist
**/**/**/dist

#.scannerwork Folders
.scannerwork
**/.scannerwork
**/**/.scannerwork
**/**/**/.scannerwork

#.ENV
.env
**/.env
**/**/.env
**/**/**/.env

.DS_Store
test-report.xml
coverage
