<div class="flex"> 
    <div class="h-screen w-3/5 ">
      <div class="flex flex-col justify-center items-center h-screen">   <!--aqui voy a central en la pantalla -->
        <p class="text-6xl mb-15 text-grenn-900">Todo Puede Mejorar</p> 
        <img src="/cena-famliar.jpeg" />
          <p class="text-4xl mb-15 text-red-900"> Comer sano, Vivir mejor</p> <!--aqui agrego tamaño y color al texto -->
      </div>
    </div>
    <div class="h-screen w-2/5 "> 
        <div class="row h-screen">
            <form class="col  flex items-center flex-col justify-center w-full h-screen" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="row">
                    <div class="input-field col ">
                      <input id="email" type="email" class="validate" formControlName="email">
                      <label for="email">Email</label>
                    </div>
                  </div>
              
              <div class="row">
                <div class="input-field col ">
                  <input id="password" type="password" class="validate" formControlName="password">
                  <label for="password">Password</label>
                </div>
              </div>
              <p class="text-1xl mb-15 text-red-900">Olvidaste tu usuario o contraseña?</p>
              <button type="submit" class="waves-effect waves-light btn" (ngClick)="onLogin()">login</button>
            </form>
          </div>
               
    </div> 
</div>
