<div class="flex justify-center items-center min-h-screen">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="row m-0"> 
            <div class="input-field col m-0">
              <input id="name" type="text" class="validate" formControlName="firstname">
              <label for="name">Nombres</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col m-0 ">
              <input id="lastname" type="text" class="validate" formControlName="lastname">
              <label for="lastname">Apellidos</label>
            </div>
          </div>
        <div class="row">
            <div class="input-field col m-0 ">
              <input id="email" type="email" class="validate" formControlName="email">
              <label for="email">Email</label>
            </div>
          </div>
      
      <div class="row">
        <div class="input-field col m-0 ">
          <input id="password" type="password" class="validate" formControlName="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m-0 ">
          <input id="adress" type="text" class="validate" formControlName="adress">
          <label for="adress">Direccion</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m-0 ">
          <input id="phoneNumber" type="text" class="validate" formControlName="phoneNumber">
          <label for="phoneNumber">Telefono</label>
        </div>
      </div>
      <button type="submit" class="waves-effect waves-light btn" (ngClick)="register()">Registrarse</button>
    </form>
</div>
